input {
  udp {
    port => 3333
    ecs_compatibility => v8
    codec => cef {
      ecs_compatibility => v8
    }
    tags => apis
  }
}

output {
  elasticsearch {
    hosts => ["http://elastic:9200"]
    ssl_certificate_verification => false
    user => "elastic"
    password => "3sjIN8aDXEtJYmK3ghoK"
  }
}