input {
  udp {
    port => 3333
    ecs_compatibility => v8
    codec => cef {
      ecs_compatibility => v8
    }
    tags => apis
  }
  beats {
    port => 5044
  }
}

output {
  if [@metadata][pipeline] {
    elasticsearch {
      hosts => "http://elastic:9200"
      pipeline => "%{[@metadata][pipeline]}"
      user => "kiba"
      password => "kibanana"
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}"
      action => "create"
      ssl_certificate_verification => false
    }
  } else {
    elasticsearch {
      hosts => "http://elastic:9200"
      user => "kiba"
      password => "kibanana"
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}"
      action => "create"
      ssl_certificate_verification => false
    }
  }
  stdout {}
}